 <!-- banner  -->
 <div class="container-fluid">
    <div class="row max-height justify-content-center align-items-center">
                <div class="bg"></div>
                <div class="bg bg2"></div>
                <div class="bg bg3"></div>
      <div class="col-10 mx-auto banner text-center">
        <h1 class="text-capitalize">Online Book Store</h1>
        <a href="#store" class="btn banner-link text-uppercase my-2">explore</a>

      </div>
        <!-- cart-out can be here -->

        <!-- end of cart out -->
    </div>
  </div>
<!--end of  banner  -->